<%= form_for(@employee) do |f| %>
  <%= render "shared/error_messages", :target => @employee %>
  <table>
    <thead>
      <tr><th colspan="2">Dane osobowe</th></tr>
    </thead>
    <tr>
      <td>Imię</td>
      <td><%= f.text_field :first_name %></td>
    <tr>
    <tr>
      <td>Nazwisko</td>
      <td><%= f.text_field :last_name %></td>
    <tr>
    <tr>
      <td>Wydział</td>
      <td>
        <%= f.select :department, options_for_select(@departments.collect {|d| [ d.name, d.id ] }, @employee.department_id) %>
      </td>
    <tr>
    <tr>
      <td class="no_border_td">&nbsp;</td>
      <td class="no_border_td">&nbsp;</td>
    </tr>

    <thead>
      <tr><th colspan="2">Dane dotyczące urlopów</th></tr>
    </thead>
    <tr>
      <td>Urlop wypoczynkowy należny (w dniach)</td>
      <td><%= f.number_field :due_vacation_leave, :min => 0 %></td>
    </tr>
    <tr>
      <td>Urlop opiekuńczy należny (w dniach)</td>
      <td><%= f.number_field :due_care_leave, :min => 0 %></td>
    </tr>
    <tr>
      <td class="no_border_td">&nbsp;</td>
      <td class="no_border_td">&nbsp;</td>
    </tr>
    <tr>
      <td class="no_border_td">&nbsp;</td>
      <td class="no_border_td" align="right"><%= f.submit 'Zatwierdź' %></td>
    </tr>
  </table>
<% end %>
