<%= form_for(@employee) do |f| %>
  <%= render "shared/error_messages", :target => @employee %>
  <table>
    <tr>
      <td>Imię</td><td><%= f.text_field :first_name %></td>
    <tr>
    <tr>
      <td>Nazwisko</td><td><%= f.text_field :last_name %></td>
    <tr>
    <tr>
      <td>Wydział</td><td><%= f.select :department, options_for_select(@departments.collect {|d| [ d.name, d.id ] }) %></td>
    <tr>
    <tr>
      <td>&nbsp;</td><td align="right"><%= f.submit 'Zatwierdź' %></td>
    </tr>
  </table>
<% end %>
