<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2>Nie można zapisać danych z powodu błędów (<%= @employee.errors.count %>):</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <table>
    <tr>
      <td>Imię</td><td><%= f.text_field :first_name %></td>
    <tr>
    <tr>
      <td>Nazwisko</td><td><%= f.text_field :last_name %></td>
    <tr>
    <tr>
      <td>Wydział</td><td><%= f.select :department, options_for_select(@departments.collect {|d| [ d.name, d.id ] }) %></td>
    <tr>
    <tr>
      <td>&nbsp;</td><td align="right"><%= f.submit 'Zatwierdź' %></td>
    </tr>
  </table>
<% end %>
