<% title 'Lista pracowników' %>

<div>
  <%= link_to raw('<span>Dodaj nowego pracownika</span>'), new_employee_path, :class => 'button' %>
  <div class="clear"></div>
</div>
<br />
Pokaż pracowników:
<%= link_to 'Wszystkich', :department => "all" %>
<%= link_to 'Szwalnia', :department => "1" %>
<%= link_to 'Rozkrój', :department => "2" %>

<table>
  <tr>
    <th>Lp.</th>
    <th>Nazwisko</th>
    <th>Imię</th>
    <th>ID</th>
    <th width="40%">Oddział</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% lp = 0 %>
<% @employees.each do |employee| %>
  <tr>
    <td><%= lp += 1 %></td>
    <td><%= employee.last_name %></td>
    <td><%= employee.first_name %></td>
    <td><%= employee.id %></td>
    <td align="center"><%= employee.department.name %></td>
    <td style="padding: 5px 10px;">
      <%= link_to raw('<img src="/images/show.png" title="Szczegółowe dane pracownika">'), employee_path(employee) %>
    </td>
    <td style="padding: 5px 10px;">
      <%= link_to raw('<img src="/images/edit.png" title="Edycja danych pracownika">'), edit_employee_path(employee) %>
    </td>
    <td style="padding: 5px 10px;">
      <%= link_to raw('<img src="/images/cancel.png" title="Usunięcie pracownika">'), employee, :confirm => 'Czy na pewno usunąć pracownika?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

