<% title 'Lista pracowników' %>

<div>
  <%= link_to raw('<span>Dodaj nowego pracownika</span>'), new_employee_path, :class => 'button' %>
  <div class="clear"></div>
</div>
<br />
Pokaż pracowników:
<%= link_to 'Wszystkich', :department => "all" %>
<%= link_to 'Szwalnia', :department => "1" %>
<%= link_to 'Rozkrój', :department => "2" %>

<table>
  <tr>
    <th>ID</th>
    <th>Nazwisko</th>
    <th>Imię</th>
    <th>Oddział</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td><%= employee.id %></td>
    <td><%= employee.last_name %></td>
    <td><%= employee.first_name %></td>
    <td><%= employee.department.name %></td>
    <td><%#= link_to 'Show', employee %></td>
    <td><%= link_to 'Edycja danych pracownika', edit_employee_path(employee) %></td>
    <td><%= link_to 'Usuń pracownika', employee, :confirm => 'Czy jesteś pewien?', :method => :delete %></td>
  </tr>
<% end %>
</table>

