<%= title('Szczegółowe dane pracownika') %>

<table class="show_employee">
  <tr>
    <th>ID</th>
    <th>Nazwisko</th>
    <th>Imię</th>
    <th>Oddział</th>
  </tr>
  <tr>
    <td><%= @employee.id %></td>
    <td><%= @employee.last_name %></td>
    <td><%= @employee.first_name %></td>
    <td><%= @employee.department.name %></td>
  </tr>
</table>

<div id="leave_data">
  <table class="show_employee">
    <thead>
      <tr><th colspan="2">Dane urlopów</th></tr>
    </thead>
    <tr>
      <td>Urlop wypoczynkowy należny</td>
      <td><%= @employee.due_vacation_leave %> dni</td>
    </tr>
    <tr>
      <td>Urlop wypoczynkowy pozostały do wykorzystania</td>
      <td><%= @employee.remaining_vacation_leave %> dni</td>
    </tr>
  </table>
</div>

<div class="slick_button">
  <%= slick_button_raw('Edycja danych pracownika', edit_employee_path(@employee)) %>
  <%= slick_button_raw('Powrót do listy wszystkich pracowników', employees_path) %>
  <%= slick_button('Dodaj nowego pracownika...', new_employee_path) %>
</div>
