<% title('Miesięczna karta ewidencji czasu pracy') %>
<% javascript 'jquery-ui-1.8.5.custom.min' %>

<%= slick_button('Wyświetl raport dla pojedyńczego pracownika...', "#{work_time_cards_path}/show") %>

<div>
  <%= form_tag '/work_time_cards', :method => 'get', :id => 'report_configuration_form' do -%>
    <table>
      <tr>
        <td><b>Wyświetl raport za miesiąc i rok:</b></td>
        <td>
          <%= select_tag :report_month, options_for_select(@months, Date.today.month) %>
          <%= select_tag :report_year, options_for_select(@years, Date.today.year) %>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <%= slick_button_submit('OK', "document.forms['report_configuration_form'].submit();") %>
        </td>
      </tr>
    </table>
  <% end -%>
</div>

<% msg = "Dane dla wszystkich pracowników za: #{@months[@report_month-1].first} #{@report_year}." %>
<%= content_tag :div, msg, :id => "flash_notice", :style => "width: 55%;" %>

<% @employees.each do |employee| -%>
  <%
    @work_records = employee.work_records.where("date >= ?", @start_date).where("date <= ?", @end_date)
    whole_month = []
    0.upto(30) {|i| whole_month.push(0)}
    @work_records.each do |wr|
      whole_month[wr.date.day-1] = wr
    end
    @work_recods = whole_month
  -%>
  <h3><%= raw("Miesięczna karta ewidencji czasu pracy.<br>#{employee.last_name} #{employee.first_name}, #{@months[@report_month-1].first} #{@report_year} r.") %></h3>
  <%= render :partial => 'employee_work_evidence' %>
<% end -%>
