<% title('Miesięczna karta ewidencji czasu pracy') %>
<% javascript 'jquery-ui-1.8.5.custom.min' %>

<%= slick_button('Wyświetl raport dla wszystkich pracowników...', work_time_cards_path) %>

<div>
  <%= form_tag '/work_time_cards/show', :method => 'get', :id => 'report_configuration_form' do -%>
    <table>
      <tr>
        <td><b>Wyświetl raport za miesiąc i rok:</b></td>
        <td>
          <%= select_tag :report_month, options_for_select(@months, Date.today.month) %>
          <%= select_tag :report_year, options_for_select(@years, Date.today.year) %>
        </td>
      </tr>
      <tr>
        <td><b>Dla pracownika</b></td><td><%= select_tag :employee_id, options_for_select(Employee.all.collect {|e| ["#{e.last_name} #{e.first_name}", e.id]}) %><br/></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div>
            <%= link_to raw('<span>OK</span>'), "#", :onclick => "document.forms['report_configuration_form'].submit();", :class => 'button' %>
            <div class="clear"></div>
          </div>
        </td>
      </tr>
    </table>
  <% end -%>
</div>

<% msg = "Dane dla pracownika: #{@employee.first_name} #{@employee.last_name} za: #{@months[@report_month-1].first} #{@report_year}." %>
<%= content_tag :div, msg, :id => "flash_notice", :style => "width: 55%;" %>

<%= render :partial => 'employee_work_evidence' %>
