<%= form_for(@work_record) do |f| %>
  <%= render "shared/error_messages", :target => @work_record %>
  <%= f.hidden_field :date %>
  <%= f.hidden_field :employee_id %>
  
  <% msg = "Wprowadzasz dane dla pracownika: #{@work_record.employee.last_name} #{@work_record.employee.first_name}, z wydziału: #{@work_record.employee.department.name}, na dzień: #{@work_record.date.strftime("%d-%m-%Y").to_s}." %>
  
  <%= content_tag :div, msg, :id => "flash_notice", :style => "width: 46%;" %>
  
  <div style="float:left;">
  <table>
    <tr>
      <td>Grupa 3</td>
      <td><%= f.number_field :gr3, :min => 0, :tabindex => "1", :class => "narrow_field" %></td>
      <td class="no_border_td">&nbsp;</td>
      <td colspan="2"><b>Przerwy obliczane są automatycznie</b></td>
    </tr>
    <tr>
      <td>Grupa 4</td>
      <td><%= f.number_field :gr4, :min => 0, :tabindex => "2", :class => "narrow_field" %></td>
      <td class="no_border_td">&nbsp;</td>
      <td>Przerwy</td>
      <td><%= f.number_field :breaks, :readonly => :readonly, :value => "15.0", :tabindex => "13", :class => "narrow_field" %></td>
    </tr>
    <tr>
      <td>Grupa 5</td>
      <td><%= f.number_field :gr5, :min => 0, :tabindex => "3", :class => "narrow_field" %></td>
      <td class="no_border_td">&nbsp;</td>
      <td colspan="2"><b>Dane do ewidencji miesięcznej</b></td>
    </tr>
    <tr>
      <td>Grupa 6</td>
      <td><%= f.number_field :gr6, :min => 0, :tabindex => "4", :class => "narrow_field" %></td>
      <td class="no_border_td">&nbsp;</td>
      <td>Czas przepracowany ogółem</td>
      <td><%= number_field :work_time, :sum, :readonly => :readonly, :value => "480.0", :tabindex => "14", :class => "narrow_field" %></td>
    </tr>
    <tr>
      <td>Grupa 7</td>
      <td><%= f.number_field :gr7, :min => 0, :tabindex => "5", :class => "narrow_field" %></td>
      <td class="no_border_td">&nbsp;</td>
      <td>W tym</td>
      <td></td>
    </tr>
    <tr>
      <td>Grupa 8</td>
      <td><%= f.number_field :gr8, :min => 0, :tabindex => "6", :class => "narrow_field" %></td>
      <td class="no_border_td">&nbsp;</td>
      <td>Nadgodziny z dopłatą 50%</td>
      <td><%= f.number_field :overtime50, :min => 0, :tabindex => "15", :class => "narrow_field" %></td>
    </tr>
    <tr>
      <td>Grupa 9</td>
      <td><%= f.number_field :gr9, :min => 0, :tabindex => "7", :class => "narrow_field" %></td>
      <td class="no_border_td">&nbsp;</td>
      <td>Nadgodziny z dopłatą 100%</td>
      <td><%= f.number_field :overtime100, :min => 0, :tabindex => "16", :class => "narrow_field" %></td>
    </tr>
    <tr>
      <td>Inna praca</td>
      <td><%= f.number_field :other_work, :min => 0, :tabindex => "8", :class => "narrow_field" %></td>
      <td class="no_border_td">&nbsp;</td>
      <td>Urlop wypoczynkowy</td>
      <td><%= f.number_field :vacation_leave, :min => 0, :tabindex => "17", :class => "narrow_field" %></td>
    </tr>
    <tr>
      <td>Sprzątanie</td>
      <td><%= f.number_field :cleaning, :min => 0, :tabindex => "9", :class => "narrow_field" %></td>
      <td class="no_border_td">&nbsp;</td>
      <td>Urlop okolicznościowy</td>
      <td><%= f.number_field :occasional_leave, :min => 0, :tabindex => "18", :class => "narrow_field" %></td>
    </tr>
    <tr>
      <td>Postój badania lekarskie</td>
      <td><%= f.number_field :layover, :min => 0, :tabindex => "10", :class => "narrow_field" %></td>
      <td class="no_border_td">&nbsp;</td>
      <td>Urlop opieka</td>
      <td><%= f.number_field :care_leave, :min => 0, :tabindex => "18", :class => "narrow_field" %></td>
    </tr>
    <tr>
      <td>Poprawki</td>
      <td><%= f.number_field :correction, :min => 0, :tabindex => "11", :class => "narrow_field" %></td>
      <td class="no_border_td">&nbsp;</td>
      <td>Urlop bezpłatny</td>
      <td><%= f.number_field :unpaid_leave, :min => 0, :tabindex => "21", :class => "narrow_field" %></td>
    </tr>
    <tr>
      <td>Łączny czas przebywania w pracy</td>
      <td><%= f.number_field :all_work_time, :min => 0, :value => 465.0, :tabindex => "12", :class => "narrow_field" %></td>
      <td class="no_border_td">&nbsp;</td>
      <td>Choroba</td>
      <td><%= f.number_field :sickness, :min => 0, :tabindex => "19", :class => "narrow_field" %></td>
    </tr>
    <tr>
    <%#####################################################3%>
    <tr>
      <td class="no_border_td">&nbsp;</td>
      <td class="no_border_td">&nbsp;</td>
      <td class="no_border_td">&nbsp;</td>
      <td>NN</td>
      <td><%= f.number_field :nn, :min => 0, :tabindex => "20", :class => "narrow_field" %></td>
    </tr>
    <%#####################################################3%>
    <tr>
      <td class="no_border_td">&nbsp;</td>
      <td class="no_border_td">&nbsp;</td>
      <td class="no_border_td">&nbsp;</td>
      <td>W niedziele i święta</td>
      <td><%= f.number_field :sunday_time, :min => 0, :tabindex => "21", :class => "narrow_field" %></td>
    </tr>
    <tr>
      <td class="no_border_td">&nbsp;</td>
      <td class="no_border_td">&nbsp;</td>
      <td class="no_border_td">&nbsp;</td>
      <td>W porze nocnej</td>
      <td><%= f.number_field :night_time, :min => 0, :tabindex => "22", :class => "narrow_field" %></td>
    </tr>
    <%#####################################################3%>
      <td class="no_border_td"></td>
      <td class="no_border_td"></td>
      <td class="no_border_td"></td>
      <td class="no_border_td" colspan="2" style="text-align: right;">
        <%= f.submit "#{@submit_button_text}", :style => "width: 70%", :tabindex => "23" %> <%= link_to 'Anuluj',
          work_records_path, :tabindex => "24" %>
      </td>
    </tr>
  </table>
  </div>
  <div class="clear">&nbsp;</div>
  <script>
    $('#work_record_all_work_time').change(function(){
      //var all_work_time = parseFloat($('#work_record_all_work_time')).toFixed(2);
      var all_work_time = parseFloat($('#work_record_all_work_time').val());
      var breaks = 0;
      if(all_work_time > 360) {
        breaks = 15;
      }
      $('#work_record_breaks').val(breaks);
      $('#work_time_sum').val(breaks+all_work_time);
      //alert($('#work_record_breaks').val());
    });
  </script>
<% end %>
