<%= form_for(@work_record) do |f| %>
  <% if @work_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work_record.errors.count, "error") %> prohibited this work_record from being saved:</h2>

      <ul>
      <% @work_record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :date %>
  <%= f.hidden_field :employee_id %>
  
  <% msg = "Wprowadzasz dane dla pracownika: #{@work_record.employee.last_name} #{@work_record.employee.first_name}, z wydziału: #{@work_record.employee.department.name}, na dzień: #{@work_record.date.strftime("%d-%m-%Y").to_s}." %>
  
  <%= content_tag :div, msg, :id => "flash_notice", :style => "width: 46%;" %>
  
  <div style="float:left;">
  <table>
    <tr>
      <td>Grupa 3</td><td><%= f.text_field :gr3 %></td>
    </tr>
    <tr>
      <td>Grupa 4</td><td><%= f.text_field :gr4 %></td>
    </tr>
    <tr>
      <td>Grupa 5</td><td><%= f.text_field :gr5 %></td>
    </tr>
    <tr>
      <td>Grupa 6</td><td><%= f.text_field :gr6 %></td>
    </tr>
    <tr>
      <td>Grupa 7</td><td><%= f.text_field :gr7 %></td>
    </tr>
    <tr>
      <td>Grupa 8</td><td><%= f.text_field :gr8 %></td>
    </tr>
    <tr>
      <td>Grupa 9</td><td><%= f.text_field :gr9 %></td>
    </tr>
    <tr>
      <td>Inna praca</td><td><%= f.text_field :other_work %></td>
    </tr>
    <tr>
      <td>Sprzątanie</td><td><%= f.text_field :cleaning %></td>
    </tr>
    <tr>
      <td>Postój badania lekarskie</td><td><%= f.text_field :layover %></td>
    </tr>
    <tr>
      <td>Poprawki</td><td><%= f.text_field :correction %></td>
    </tr>
    <tr>
      <td>Łączny czas przebywania w pracy</td><td><%= f.text_field :all_work_time, :value => 465.0 %></td>
    </tr>
    <tr>
      <td></td><td><%= f.submit "#{@submit_button_text}", :style=> "width: 70%" %> <%= link_to 'Anuluj', work_records_path %></td>
    </tr>
  </table>
  </div>
  <div style="float: right;">
    <table>
      <tr>
        <td colspan="2">Przerwy obliczane są automatycznie</td>
      </tr>
      <tr>
        <td>Przerwy</td>
        <td><%= f.text_field :breaks, :readonly => :readonly, :value => "15.0" %></td>
      </tr>
    </table>

    <table>
      <tr>
        <td colspan="3">Dane do miesięcznej ewidencji czasu pracy</td>
      </tr>
      <tr>
        <td colspan="2">Czas przepracowany ogółem</td>
        <td><%= text_field :work_time, :sum, :readonly => :readonly, :value => "480.0" %></td>
      </tr>
      <tr>
        <td colspan="2">W tym</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>Nadgodziny z dopłatą 50%</td>
        <td><%= f.text_field :overtime50 %></td>
      </tr>
      <tr>
        <td></td>
        <td>Nadgodziny z dopłatą 100%</td>
        <td><%= f.text_field :overtime100 %></td>
      </tr>
      <tr>
        <td colspan="2">Urlopy</td>
        <td><%= f.text_field :leave %></td>
      </tr>
      <tr>
        <td colspan="2">Choroba</td>
        <td><%= f.text_field :sickness %></td>
      </tr>
      <tr>
        <td colspan="2">NN</td>
        <td><%= f.text_field :nn %></td>
      </tr>
    </table>
  </div>
  <div class="clear">&nbsp;</div>
  <script>
    $('#work_record_all_work_time').change(function(){
      //var all_work_time = parseFloat($('#work_record_all_work_time')).toFixed(2);
      var all_work_time = parseFloat($('#work_record_all_work_time').val());
      var breaks = 0;
      if(all_work_time > 360) {
        breaks = 15;
      }
      $('#work_record_breaks').val(breaks);
      $('#work_time_sum').val(breaks+all_work_time);
      //alert($('#work_record_breaks').val());
    });
  </script>
<% end %>
