<% title('Parametry raportu') %>
<% javascript 'jquery-ui-1.8.5.custom.min' %>

<%= content_tag :div, "Wybierz dzień i wydział dla raportu", :id => "flash_notice" %>

<table>
<%= form_tag new_report_path do %>
  <tr>
    <td>Data raportu</td><td><%= text_field 'report_configuration', 'date', :value => nice_date_format(Date.today), :class => 'calendar' %></td>
  </tr>
  <tr>
    <td>Wydział</td><td><%= select_tag :department_id, options_for_select(@departments.collect {|d| [ d.name, d.id ] }) %></td>
  </tr>
  <tr>
    <td>&nbsp;</td><td><%= submit_tag 'Kontynuuj' %></td>
  </tr>
<% end %>
</table>
