<% title('Czas pracy') %>
<% javascript 'jquery-ui-1.8.5.custom.min', 'jquery.qtip-1.0.0-rc3.min' %>

<p id="information" class="info_box" style="display: none;">
  Znajdujesz się w centrum raportów.<br/>
  Domyślnie wyświetlony jest raport dzienny dla aktualnego dnia, dla działu Szwalnia.
  <br/><br/>
  <b>Aby wyświetlić raport dzienny</b> wybierz konkretny dzień z kalendarza (pole 'Wyświetlić raport z dnia:'), następnie wybierz opcję: 'tylko wybrany dzień' i kliknij przycisk 'Wyświetl'.
  <br/><br/>
  <b>Aby wyświetlić raport z całego miesiąca:</b><br/>
  &nbsp;&nbsp;&nbsp;1. Wybierz w kalendarzu dowolny dzień z miesiąca, dla którego dane chcesz uzyskać.<br/>
  &nbsp;&nbsp;&nbsp;2. Wybierz interesujący dział (Szwalnia lub Rozkrój)<br/>
  &nbsp;&nbsp;&nbsp;3. Zaznacz opcję 'Suma z całego miesiąca'<br/>
  &nbsp;&nbsp;&nbsp;4. Kliknij przycisk 'Wyświetl'
  <br/><br/>
  <b>Aby dodać nowy raport, lub kontynuwać wypełaninie poprzedniego</b> (nie dokończonego raportu), należy kliknąć przycisk 'Utwórz nowy raport lub kontynuuj poprzedni'.
  <br/>
  <a href="#" id="closer" style="margin-left: 67%;">Zamknij tę informację</a>
</p>
<script>
  $(document).ready(function(){
    $('#closer, #opener').click(function(){
      $('#information').slideToggle();
      $('#opener').text() == "Pokaż pomoc" ? $('#opener').text('Ukryj pomoc') : $('#opener').text('Pokaż pomoc');
    });
  });
</script>

<div class="report_params_form">
  <%= link_to raw('<span>Utwórz nowy raport lub kontynuuj poprzedni</span>'), report_cofiguration_path, :class => 'button' %>
  <%#= slick_button('Utwórz nowy raport lub kontynuuj poprzedni', report_cofiguration_path) %>
  <%= slick_button('Drukuj raport', :print => true, :report => {:start_date => params[:report][:start_date], :monthly => params[:report][:monthly] }, :department_id => params[:department_id]) %>
  <div class="clear"></div>
</div>
<div class="report_params_form">
  <%= form_tag '/work_records', :method => 'get', :id => 'report_configuration_form' do -%>
    <table>
      <tr>
        <td>
          <b>Wyświetl raport z dnia:</b>
        </td>
        <td><%= text_field :report, :start_date, :class => 'calendar', :value => params[:report][:start_date] %></td>
      </tr>
      <tr>
        <td><b>Dla działu:</b></td><td><%= select_tag :department_id, options_for_select(Department.all.collect {|d| [d.name, d.id]}, params[:department_id]) %></td>
      </tr>
      <tr>
          <td><b>Typ raportu:</b></td>
          <td>
            <%= radio_button :report, :monthly, "true", :checked => (params[:report][:monthly] == "true" ? 'checked' : 'no') %> Suma z całego miesiąca<br/>
            <%= radio_button :report, :monthly, "false", :checked => (params[:report][:monthly] == "false" ? 'checked' : 'no') %> Tylko wybrany dzień
          </td>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div>
            <%= link_to raw('<span>Wyświetl</span>'), "#", :onclick => "document.forms['report_configuration_form'].submit();", :class => 'button' %><a href="#" id="opener" style="margin-bottom: 10px; clear: both;">Pokaż pomoc</a>
            <div class="clear"></div>
          </div>
        </td>
      </tr>
    </table>
    <%#= button_to 'Wyświetl' %>
  <% end -%>
</div>

<br/>

<% 
if params[:report][:monthly] == "true"
  msg = "Raport na miesiąc #{month_name(Date.parse(params[:report][:start_date]).month)} #{Date.parse(params[:report][:start_date]).year}, dla działu: #{Department.find(params[:department_id].to_i).name}"
else
  msg = "Raport z dnia #{params[:report][:start_date]}, dla działu: #{Department.find(params[:department_id].to_i).name}"
end
%>
<%= content_tag :div, msg, :id => "flash_notice", :style => "width: 55%;" %>

<table>
  <thead>
  <tr>
    <th class="small_font">Lp.</th>
    <th class="small_font">Pracownik</th>
    <th class="small_font">Gr3</th>
    <th class="small_font">Gr4</th>
    <th class="small_font">Gr5</th>
    <th class="small_font">Gr6</th>
    <th class="small_font">Gr7</th>
    <th class="small_font">Gr8</th>
    <th class="small_font">Gr9</th>
    <th class="small_font">Razem akord</th>
    <th class="small_font">Wydajność</th>
    <th class="small_font">Inna praca</th>
    <th class="small_font">Sprzątanie</th>
    <th class="small_font">Postój / bad. lek.</th>
    <th class="small_font">Poprawki</th>
    <th class="small_font">Przerwy</th>
    <th class="small_font">Łączny czas<br/>przebywania<br/>w pracy</th>
    <% if params[:report][:monthly] == "true" %>
      <th class="small_font">Nadgodziny</th>
    <% else -%>
      <th class="dont_print"></th>
    <% end -%>
  </tr>
  </thead>
  <tfoot>
    <tr><td colspan="18"><sub><%= msg %></sub></td></tr>
  </tfoot>
  
  <tbody>

<% lp = 0 %>
<% @work_records.each do |work_record| %>
  <tr class="small_font">
    <td><%= lp += 1 %></td>
    <td style="text-align: left;"><%= "#{work_record.employee.last_name} #{work_record.employee.first_name}"%>
    </td>
    <td><%= work_record.gr3_sum %></td>
    <td><%= work_record.gr4_sum %></td>
    <td><%= work_record.gr5_sum %></td>
    <td><%= work_record.gr6_sum %></td>
    <td><%= work_record.gr7_sum %></td>
    <td><%= work_record.gr8_sum %></td>
    <td><%= work_record.gr9_sum %></td>
    <td><%= work_record.accord_all_groups %></td>
    <td><%= work_record.productivity_sum %></td>
    <td><%= work_record.other_work_sum %></td>
    <td><%= work_record.cleaning_sum %></td>
    <td><%= work_record.layover_sum %></td>
    <td><%= work_record.correction_sum %></td>
    <td><%= work_record.breaks_sum %></td>
    <td><%= work_record.all_work_time_sum %></td>
    <% if params[:report][:monthly] == "true" %>
      <td><%= work_record.all_work_time_sum-((work_record.breaks_sum/15)*465) %></td>
    <% else -%>
      <td class="dont_print">
        <%= link_to raw('<img src="/images/edit.png" title="Edytuj wpis">'), edit_work_record_path(work_record.work_record_id) %>
      </td>
    <% end -%>
  </tr>
<% end %>
  </tbody>
</table>
