<p id="notice"><%= notice %></p>

<p>
  <b>Employee:</b>
  <%= @work_record.employee_id %>
</p>

<p>
  <b>Gr3:</b>
  <%= @work_record.gr3 %>
</p>

<p>
  <b>Gr4:</b>
  <%= @work_record.gr4 %>
</p>

<p>
  <b>Gr5:</b>
  <%= @work_record.gr5 %>
</p>

<p>
  <b>Gr6:</b>
  <%= @work_record.gr6 %>
</p>

<p>
  <b>Gr7:</b>
  <%= @work_record.gr7 %>
</p>

<p>
  <b>Gr8:</b>
  <%= @work_record.gr8 %>
</p>

<p>
  <b>Gr9:</b>
  <%= @work_record.gr9 %>
</p>

<p>
  <b>Other work:</b>
  <%= @work_record.other_work %>
</p>

<p>
  <b>Cleaning:</b>
  <%= @work_record.cleaning %>
</p>

<p>
  <b>Correction:</b>
  <%= @work_record.correction %>
</p>


<%= link_to 'Edycja', edit_work_record_path(@work_record) %> |
<%= link_to 'BPowrót do listy wpisów', work_records_path %>
